<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.OrangeHRM.pmi.AddempTC"/>
      <class name="com.realestatecrm.modules.DocUpload"/>
      <class name="com.OrangeHRM.AppTest"/>
      <class name="com.realestatecrm.modules.CompanyModuleTC"/>
      <class name="com.realestatecrm.NewTest"/>
      <class name="com.OrangeHRM.pmi.GetDataEX"/>
      <class name="com.realestatecrm.modules.ContactsModuleTC"/>
      <class name="com.OrangeHRM.pmi.SearchEmpTC"/>
      <class name="com.realestatecrm.modules.DealsModuleTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
