<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite2" parallel="tests" thread-count="3">

	<test name="ChromeTest">
		<parameter name="browserName" value="Chrome" />
		<classes>
			 <class name="lambdatest.SignUpPage"/>
		</classes>
	</test>

	<test name="FirefoxTest">
		<parameter name="browserName" value="Firefox" />
		<classes>
			 <class name="lambdatest.SignUpPage"/>
		</classes>
	</test>

	<test name="EdgeTest">
		<parameter name="browserName" value="Edge" />
		<classes>
			 <class name="lambdatest.SignUpPage"/>
		</classes>
	</test>

</suite>
